extends flexLayout.pug

block header
  include layout.pug

block content
  form(action="/faculty/"+username+"/course/"+index+"/edit/save" method="post")
    .form-group
      label.font-weight-bold Name:
      input.form-control(type="text" name="name" value=course.name)
    .form-group
      label.font-weight-bold Code:
      input.form-control(type="text" name="code" value=course.code)
    .form-group
      label.font-weight-bold Section:
      input.form-control(type="text" name="section" value=course.section)
    .form-group
      label.font-weight-bold Class Room
      input.form-control(type="text" name="classRoom" value=course.classRoom)
    .form-group
      input.btn.btn-primary(type="submit" value="Save")
      a.btn.btn-secondary.ml-2(href="/faculty/"+username role="button") Cancel
