.border-1.p-3
	.row
		.col
			h3 Courses:
			each value, index in faculty.courses
				form.mt-1.d-flex.justify-content-between
					div
						button.mr-1.btn.btn-link(type="submit", formmethod="get", formaction="/faculty/"+faculty.username+"/course/"+index)= value.code + '.' + value.section
					div
						button.mr-1.btn.btn-secondary(type="submit", formmethod="get", formaction="/faculty/"+faculty.username+"/course/"+index+"/edit") Edit
						button.mr-1.btn.btn-danger(type="submit", formmethod="post" formaction="/faculty/"+faculty.username+"/course/"+index+"/delete") Delete
						button.mr-1.btn.btn-info(type="submit", formmethod="get" formaction="/faculty/"+faculty.username+"/course/"+index+"/marksheet") Marksheet
						button.mr-1.btn.btn-info(type="submit", formmethod="get" formaction="/faculty/"+faculty.username+"/course/"+index+"/resource") Resource
						button.btn.btn-info(type="submit", formmethod="get" formaction='/'+faculty.username+"/course/"+index+"/post") Post
						button.btn.btn-info(type="submit", formmethod="get" formaction='/'+faculty.username+"/course/"+index+"/group") Group
		.col-5
			h3 Add Course
			form(action="/faculty/"+faculty.username+"/course/add" method="post")
				.form-group
					label Course Name
					input.form-control(type="text", name="name", required)
				.form-group
					label Course Code
					input.form-control(type="text", name="code" required)
				.form-group
					label Section
					input.form-control(type="text", name="section" required)
				.form-group
					label Class Room
					input.form-control(type="text", name="classRoom")
				.form-group
					input.btn.btn-primary(type="submit", value="Add")
