extends flexLayout.pug

block header
	include layout.pug

block content
	div
		include profile.pug
		include officeHour.pug
		if whoIsLooking.toString() === 'faculty'
			include course.pug
	include footer.pug
