doctype html
html(lang='en')
  head
    title Agent V2

    link(rel="stylesheet", href="/public/vendor/bootstrap/css/bootstrap.css", media="screen", title="no title", charset="utf-8")
    link(rel="stylesheet", href="/public/my_style.css", media="screen", title="no title", charset="utf-8")

  block head

  body

    block header

    .container
      .px-2
        block content

      include footer.pug

    block scripts
