extends flexLayout.pug

block header
	include login.pug

block content
	.row.align-items-center
		.col-6
			h2 Agent is an online class room management system with many new features.
		.col-6
			include signup.pug

block scripts
	script(src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js")
	script(src="../public/my_scripts/index_script.js")