extends flexLayout.pug

block header
	include login.pug

block content
	.row.align-items-center
		.col
			h2 Agent is a class room management system with many new features.
		.col
			include signup.pug
