nav.navbar.navbar-default.mb-2
	.d-flex.align-items-center.justify-content-between
		.navbar-brand
			h3 Agent
		div
			h3 !{name}
			form(action="/faculty/"+username+"/logout", method="get")
				input(type="submit", value="Logout")
