extends flexLayout.pug

block header
	include layout.pug

block content
	.container(style="margin-top:5rem;")
		.row.justify-content-center
			.col-4
				.card.text-center(style="width: 20rem;")
					.card-block
						h4.card-title Change Password
						form
							.form-group
								input#cpassword(type="password" placeholder="Current Password").form-control
								span#cpassword-error
							.form-group
								input#npassword(type="password" placeholder="New Password").form-control
								span#npassword-error
							.form-group
								input#rpassword(type="password" placeholder="Retype Password").form-control
								span#rpassword-error
							.form-group
								a.btn.btn-secondary.mr-4(href="/user/"+user.username+'/profile', role="button") Cancel
								.btn.btn-primary.ml-3#password-button(type="submit") Save

block scripts
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	//To pass variable from jade template file to below script file
	script.
		var postPath = "http://localhost:3000/user/" + "#{user.username}";
	script(src="/public/my_scripts/password_script.js")