extends flexLayout.pug

block header
  include layout.pug

block content
  form(action="/faculty/"+username+"/password/change/save" method="post")
    .form-group
      label.font-weight-bold Current Password:
      input.form-control(type="password" name="currentPassword")
    .form-group
      label.font-weight-bold New Password:
      input.form-control(type="password" name="newPassword")
    .form-group
      input.btn.btn-primary(type="submit" value="Save")
      a.btn.btn-secondary.ml-2(href="/faculty/"+username, role="button") Cancel
