extends flexLayout.pug

block header
	include layout.pug

block content
	div.container
		div.row
			div.col-3
			div.col-6
				table.table
					thead
						tr
							th #
							th Course ID
							th Registared
							th Register

					tbody
						- for (var i = 1; i < courses.length; ++i) {
								tr
									td !{i}
									td !{courses[i].courseID}
									td !{courses[i].seats}
									td
										- var id = courses[i].courseID
										form(action="/preregistrations/"+id, method="post")
											input(class="btn btn-primary",type="submit", name="register", value="register")
									br
						- }
