.card.text-center.m-5(style="width: 30rem;")
	.card-block
		h4.card-title Create a new account
		form#signup_form
			.form-group
				input#name(type="text" placeholder="Name").form-control
				small#name-error
			.form-group
				input#email(type="text" placeholder="Email").form-control
				small#email-error
			.form-group
				input#username(type="text" placeholder="Username").form-control
				small#username-error
			.form-group
				input#password(type="password" placeholder="Password").form-control
				small#password-error
			.form-group
				input#repassword(type="password" placeholder="Retype Password").form-control
				small#repassword-error
			.row.mb-3
				.col-3
					input.mr-2.form-check-input(type="radio" name="portal" value="faculty" checked)
					span Faculty
			.row.mb-3
				.col-3
					input.mr-2.form-check-input(type="radio" name="portal" value="student")
					span Student
			.form-group
				.btn.btn-primary#signup-button(type="submit") Signup
