form(action="/signup" method="post")
	fieldset
		legend.text-center Signup
		.form-group.row
			label.col-2.col-form-label Name
			input.form-control.col-10(type="text" name="name" required)
		.form-group.row
			label.col-2.col-form-label Email
			input.form-control.col-10(type="email" name="email" required)
		.form-group.row
			label.col-2.col-form-label Username
			input.form-control.col-10(type="text" name="username" required)
		.form-group.row
			label.col-2.col-form-label School
			input.form-control.col-10(type="text" name="school" required)
		.form-group.row
			label.col-2.col-form-label Country
			input.form-control.col-10(type="text" name="country" required)
		.form-group.row
			label.col-2.col-form-label Password
			input.form-control.col-10(type="password" name="password" required)
		.row
			.form-group.col-10.offset-2
				.form-check
					label.form-check-label
						input.mr-2.form-check-input(type="radio" name="portal" value="faculty")
						span Faculty
				.form-check
					label.form-check-label
						input.mr-2.form-check-input(type="radio" name="portal" value="student")
						span Student
		.text-center
			input.btn.btn-default(type="submit", value="Signup")
