.navbar-default {
    background-color: lightblue;
}
.theme{
	 background-color: lightblue;
}
label {
    width:80px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input {
	margin-right: 20px;
}

input, label {
    float:left;
    margin-top: 20px;
}